{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}


<div class="example-wrapper">

   <h1>Supprimer l'article {{ slug }}</h1>

</div>
{% endblock %}
